@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {font-family: 'Poppins', sans-serif; color: #0A0A0A;}

a {text-decoration:none; color: #0A0A0A;} 

body{
    font-family: 'Poppins', sans-serif; color: #0A0A0A;
}

nav{    padding: 44px 60px;}

.head-nav .active{
    color: #1e860c;
} 

.container{
    width: 1160px;
    margin: 0 auto;
}

nav .container,
.head-nav ul, .head-nav ul li a, .head-btn{
    display: flex;
    align-items: center;
}

hr{ 
    border: none;
    background-color:#D9D9D9;
    height: 3px;
}

/*navigation style*/
.head-nav{
    margin:auto;
}

.head-nav ul li a{
    color: #0A0A0A;
    font-weight: 700;
    font-size: 14px;
}

.head-nav a:hover{
    color: #86C232;
}

.head-nav ul li{
    margin-right: 40px;
}

.head-nav ul li:last-child{
    margin-right: auto;
}

.dropdown-container{
    position: relative;
}

.dropdown-container:hover .dropdown-menu{
    display: flex;
}

.dropdown-menu{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    background-color: #DDE9CC;
    display: none;
}

.dropdown-menu a{
    padding: 10px 12px;
    border-bottom: 1px solid #1e860c;
    text-wrap: nowrap;
    color: #0A0A0A;
    font-size: 14px;
}

.head-btn a, .search-bar a{
    font-weight: 700;
    font-size:14px;
    color: #EEEEEE;
    background-color: #86C232;
    border-radius: 8px;
    padding: 8px 20px;
}

.head-btn a:hover, .search-bar a:hover{
    background-color: #daf3de;
    color: #065911;
}

/*main*/
.index-main-container{
    background-color: #4A5459;
    margin-bottom: 140px;
}

.main-content, .main-btns{
    display: flex;
    align-items:center;
}

.main-text{ margin-right: 55px;}

.main-text h1{
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 600;
    line-height: 150%;
    margin-bottom: 41px;
}

.consulting-btn a{
    font-weight: 700;
    font-size:18px;
    color: #EEEEEE;
    background-color: #86C232;
    line-height: normal;
    border-radius: 8px;
    padding: 14px 24px;
    margin-right: 31px;
}

.consulting-btn a:hover{
    background-color: #daf3de;
    color: #065911;
}

.about-us-btn a{
    font-weight: 700;
    font-size:18px;
    color: #EEEEEE;
    text-decoration: underline;
}

.about-us-btn a:hover{  color: #6b7aff;}

/* our services*/
.our-services, .university-cards, .educational-resources, .consulting, 
.mentor-cards{  margin-bottom: 140px;}

.our-services .container .coloumns {
    display: flex;
    gap: 20px;
}

.servise-right-coloumn,
.servise-left-coloumn { flex: 1;}

.service-1 {    padding-bottom: 20px; /* Выберите нужное вам значение отступа */}

.servise-left-coloumn .service-2{   margin-bottom: 9px;} 

.our-services h1 a:hover, .mentor-cards h1 a:hover{ color:#86C232;}

.our-services h1 a,
.university-cards h1,
.mentor-cards h1 a{
    color: #0A0A0A;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 2%;
     
}

.our-services h1,.university-cards h1, .mentor-cards h1{    margin-bottom: 34px;}

.service-1, .service-2, .service-3{
    border: 1px solid #b5b5b5;
    border-radius: 4px;
}

.service-2, .service-3{padding: 31px;}
.service-1{padding: 31px 31px 41px 31px;}

.our-services  h2{
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 2%;
    margin-bottom: 16px;
}

.our-services h3{
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 2%;
}

/* unik card */
.university-cards .coloumns,
.mentor-cards .coloumns{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.unik-card{
    border: 1px solid #b5b5b5;
    border-radius: 4px;
    width: 322px;
}
.unik-card-info{    padding: 25px 17px;}

.unik-card-info h2{ margin: 12px 0px 6px 0px;}

.unik-card-info h2 a{
    font-size: 22px;
    font-weight: 700;
    color: #4A5459;
}

.unik-card-info h2 a:hover{     color:#86C232;}

.unik-card-info h2{
    font-size: 16px;
    font-weight: 700;
    color: #ABABAB;
}

/* educational-resources */
.educational-resources{     background-color: #4A5459;}

.educational-resources .container{      padding: 80px 0px;}

.educational-resources .cloumns{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.educational-left-part{
    width: 590px;
    margin-right: 90px;
}

.educational-left-part h1{
    font-size: 36px;
    font-weight: 700;
    color: #EBEBEB;
    margin-bottom: 18px;
}

.educational-left-part h2{margin-bottom: 28px;}

.educational-left-part h2, .educational-left-part h3{
    font-size: 16px;
    font-weight: 400;
    color: #EBEBEB;
    line-height: 160%;
    letter-spacing: 2%;
}

.educational-right-part a:hover{
    color: #86C232;
    background-color: #FFFFFF;
}

.educational-right-part{    display: grid;}

.right-part-1,.right-part-2, .right-part-3{
    display: flex;
    align-items: center;
}

.educational-right-part .right-part-2{  margin: 25px 0px;}

.educational-right-part a{
    font-size: 20px;
    font-weight: 700;
    background-color: #EBEBEB;
    border-radius: 4px;
    padding: 24px 30px;
    color: #0A0A0A;
}

.educational-right-part img{    margin-right: 17px;}

/* consulting */
.consulting-columns{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 4px;
    border: 1px solid #b9b9b9;
}

.consulting-right-pt h1, .consulting-right-pth2, .btn-leave{    display: flex;}

.consulting-right-pt{   margin: 60px;}

.consulting-right-pt h1{
    font-size: 32px;
    font-weight: 700;
}

.consulting-right-pt h2{
    font-size: 18px;
    font-weight: 400;
    margin-top: 16px;
}

.consulting-right-pt .btn-leave a{ 
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #86C232;
    border-radius: 8px;
    padding: 14px 24px;
    margin-top: 8px;
}

.consulting-right-pt .btn-leave a:hover{
    background-color: #daf3de;
    color: #065911;
}

/* footer */
footer{
    padding: 90px;
    background-color: #2B2B2B;}

footer .container{
    display: flex;
    justify-content: space-between;
}

.footer-1 h1{
    font-size: 18px;
    font-weight: 700;
    color: #E9E9E9;
    margin-bottom: 18px;
}

.footer-1 a{
    font-size: 16px;
    font-weight: 400;
    color: #ABABAB;
}

.footer-1 a:hover{color:#FFFFFF}

.footer-1 ul li{margin-bottom: 14px;}
.footer-1 ul li:last-child{margin-bottom: none;}

.social-media{display: flex;}

.social-media li{margin-right: 15px;}

/* universty page */
.search-bar{margin-bottom: 47px;}

.search-bar-info{margin: 13px 18px;}

.search-bar-info input{outline: none;}

.search-bar img{vertical-align: middle;}

.search-bar input{
    margin: 0 790px 0 14px; 
    padding: 10px 5px;
    border-style: none;
    font-size: 16px; 
}

.country-choose-part .container{
    display: flex;
    flex-direction: row;
}

.filter{
    width: 260px; 
    margin-right: 80px;
}

.filter ul li{  margin-bottom: 21px;}

.filter ul li a{
    color: #0A0A0A;
    font-weight: 400;
    font-size: 14px;
    padding: 15px 48px 15px 35px;
    border: 1px solid #D9D9D9;
    border-radius: 15px;
    display: inline-block;
    width: 219px;
}

.filter a:hover{
    color:#86C232;
    border: 1px solid #86C232;
}

.country-name{ margin-bottom: 46px;}

.country-name h1, .best-univ-name h1{
    font-size: 20px;
    margin-bottom: 17px;
}

.country-name a{    font-weight: 400;}

.list-of-country{
    display: grid;
    grid-template-columns: repeat(3, 240px);
    gap: 10px;
}

.list-of-country a{
    color: #0A0A0A;
    border: 1px solid #D9D9D9;
    padding: 15px 30px; 
    border-radius: 15px;
    margin-bottom: 9px;  
}

.list-of-country a:hover{
    border: 1px solid #86C232;
    color:#86C232;
}

.univ-list-numbers{
    display: flex;
    margin-bottom: 17px;
}

.block-info-univ{
    margin: 0 0 0 46px;
    border: 1px solid #D9D9D9;
    border-radius: 15px;
    padding: 22px 20px;
    width: 100%;
    color:#0A0A0A;
}

.block-info-univ h3{
    margin-top: 5px;
}

.block-info-univ:hover{ 
    color:#86C232;     
    border: 1px solid #86C232;
}

.search-more-university{
    display: flex;
    justify-content: flex-end;

    margin: 56px auto 110px;
}

.search-more-university a, .univ-card-btn{
    font-weight: 700;
    font-size:14px;
     
    color: #EEEEEE;
    background-color: #86C232;
    border-radius: 8px;
    padding: 12px 25px;
}
.univ-card-btn:hover,
.search-more-university a:hover {
    background-color: #daf3de;
    color: #065911;
}

/* unik search */
.filter h1, .calendar-filter h1{
    font-size: 20px;
    font-weight: 600; 
}

.filter h1, .filter-group{
    margin-bottom: 25px; 
}

.filter-group h2, .filter-group-radio h2,.filter-group-new h2,
.calendar-filter-group{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 9px;
}

.country-choose, .yaer-choose{
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    color: #939191;

    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none; /*убрать станд.стиль стрелки*/

    border: 1px solid #D9D9D9;
    border-radius: 15px;
    background-color: #FDFDFD;
    padding: 11px 60px 11px 18px;
    outline: none;
    cursor: pointer;
}

.country-choose::-ms-expand,
.yaer-choose::-ms-expand{
    display: none;
}

.select-wrapper {
	position: relative;
}

.select-wrapper::before {
	content: "";
	position: absolute;
	top: 50%;
	right: 15px;
	transform: translateY(-50%);
	display: block;

	/* Рисуем треугольник */
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10.4px 6px 0 6px;
	border-color: #D9D9D9 transparent transparent transparent;

	/* Снимаем клик с треугольника */
	pointer-events: none;
}

.filter-group-checkbox div,
.filter-group-radio div{margin-bottom: 6px;}

/* university-mini-card */
.university-choose-part .container, 
.university-mini-card aside, 
.mentor-choose-part .container{
    display: flex;
    flex-direction: row;
}

.about-university-cards section{margin-bottom: 46px;}
.about-university-cards section:last-child{margin-bottom: 110px;}

.university-mini-card{
    width:750px;
    height: 350px;
    background-color: #fbfbfb;
    border: 1px solid #D9D9D9;
    border-radius: 15px;
}

.university-mini-card h1 a{ color: #0A0A0A;}

.university-mini-card article{padding: 25px 32px;}

.university-mini-card h1,.bachelor-card h2, .master-card h2{
    font-size: 20px;
    font-weight: 600;
    color:#0A0A0A;
    margin-bottom: 9px;
}

.university-mini-card h3{
    font-size: 14px;
    font-weight: 400;
    color:#0A0A0A;
    margin-bottom: 25px;
}

.bachelor-card, .master-card{
    width:320px;
    height: 150px;
    background-color: #FDFDFD;
    border: 1px solid #D9D9D9;
    border-radius: 15px;
    padding: 13px;
}

.bachelor-card-price,.master-card-price{margin-top: 16px;}

.bachelor-card-price-start, .bachelor-card-price-end,
.master-card-price-start, .master-card-price-end{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
}

.bachelor-card-price-end,.master-card-price-end{margin-top: 8px;}
.bachelor-card,.master-card{margin-right: 50px;}

.more-about-university{
    display: flex;
    justify-content: flex-end;
    margin-top: 44px;
}

/* consult-form */
.consult-form-send-ver{  filter: opacity(50%);}
.consult-form h1,.consult-form h2{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 30px;
}

.new-consult-form{
    background-color: #EEEEEE;
    border: 1px solid #D9D9D9;
    border-radius: 15px;
    padding: 15px 24px 23px;
    margin-bottom: 30px;
}

.new-consult-form h2{
    font-size: 18px;
    margin-bottom: 15px;
}

.consult-take-steps{
    background-color: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 15px;
    padding: 25px 24px 20px;
    margin-bottom: 30px;
}

.consult-take-steps h3{margin-bottom: 26px;}

.consult-take-steps h3, .consult-take-steps ul li{
    font-size: 14px;
    font-weight: 500;
}

.consult-take-steps ul li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.consult-take-steps ul li img{margin-right: 20px;}

.list-of-consult {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 30px 30px;
}

.list-of-consult div{
    background-color: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 15px;
    color:#0A0A0A;
    font-size: 16px;
    font-weight: 700;
    padding: 15px 24px;
    width: 500px;
    margin-bottom: 10px;
}

.consult-custom-label{
    display: flex;
    align-items: center;
}
.consult-custom-label-1-column{margin-right: 50px;}

#Choice1,#Choice2,#Choice3,#Choice4,#Choice5,#Choice6{
    width: 24px; 
    height: 24px;
    display: none;
}   

#Choice1,#Choice2,#Choice3,#Choice4,#Choice5,#Choice6{
    content: '';
    display: inline-block;
    width: 24px; 
    height: 24px;
    border: 0px solid #0A0A0A; /* Цвет и ширина границы круга */
    border-radius: 50%; /* Делаем круглым */
}

#Choice1,#Choice2,#Choice3,#Choice4,#Choice5,#Choice6:checked{background-color: red; /* Цвет круга в выбранном состоянии */}

#Choice1{margin-left: 128px;}
#Choice2{margin-left: 170px;}
#Choice3{margin-left: 173px;}
#Choice4{margin-left: 232px;}
#Choice5{margin-left: 243px;}
#Choice6{margin-left: 226px;}

.list-of-consult div a{
    font-size: 14px;
    font-weight: 700;
    color:#EEEEEE;
    background-color: #2B2B2B;
    padding: 6px 12px;
    border-radius: 8px;
    width: 101px;
    margin-top: 34px;
}

.list-of-consult div a:hover{
    color:#2B2B2B;
    background-color: #dcdcdc;
}

.send-consult-form{
    font-weight: 700;
    font-size:14px;
    color: #EEEEEE;
    background-color: #86C232;
    border-radius: 8px;
    padding: 8px 20px;
}

.send-consult-form:hover{
    background-color: #b5b5b5;
    color: #4A5459;
}

.sent-consult-form-sign{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px 50px;
} 

.sent-consult-form-notif .container{
    display: flex;
    justify-content: center;
    border: 1px solid #86C232;
    border-radius: 15px;
    margin-bottom: 90px;
}

.feedback-consult-form{
    color: #86C232;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin-right: 15px;
}

/* log in */
.login-form h1{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 41px;
}

.login-form input, .login-forg-pass{
    font-size: 16px;
    font-weight: 400;
    color:#A1A1A1;
} 

.login-right-coloumn form{
    display: flex;
    align-items: center;
}

.login-btn{
    font-size: 16px;
    font-weight: 700;
    padding: 11px 25px;
    color: #EEEEEE;
    background-color: #86C232;
    border-radius: 8px;
}

/* about us */
.mini-header-for-leave-contacts{background-color: #4A5459;}

.mini-header-for-leave-contacts div{
    padding-bottom: 60px;
    margin-bottom: 50px;
}

.mini-header-for-leave-contacts h1{
    font-weight: 600;
    font-size: 25px;
    color:#F3F3F3;
    padding-top: 25px;
}

.mini-header-for-leave-contacts h3{
    font-weight: 400;
    font-size: 16px;
    color:#F3F3F3;
    margin: 9px 0px 33px;
}

.mini-header-for-leave-contacts a{
    font-weight: 700;
    font-size:14px;
    color: #EEEEEE;
    background-color: #86C232;
    border-radius: 8px;
    padding: 8px 20px;
}

.mini-header-for-leave-contacts a:hover{
    border: 0px solid #86C232;
    background-color: #daf3de;
    color: #065911;
}

.about-what-we-do,.about-advantages{margin-bottom: 70px;}

.about-what-we-do-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 столбца равной ширины */
    grid-gap: 30px; 
}

.about-what-we-do h1{
     
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 15px;
}

.about-do-list{
    background-color: #f8f8f8;
    border: 1px solid #D9D9D9;
    border-radius: 15px;
    padding: 15px 22px;
    line-height: normal;
}

.about-do-title{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-bottom: 10px;
}

.about-do-title h3{
    font-weight: 600;
    font-size: 16px;
}

.advatages-blocks-main h1{
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 20px;
}

.advatages-blocks-main h2{
    font-weight: 400;
    font-size: 18px;
}

.advatages-blocks{
    background-color: #f8f8f8;
    border: 1px solid #D9D9D9;
    border-radius: 15px;
    padding: 15px;
    line-height: normal;
}

.advatages-blocks h3{
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 5px;
}

.advatages-blocks h4{
    font-weight: 400;
    font-size: 14px;
}

.about-advantages-blocks{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 25px;
    row-gap: 30px;
}

#about-faq h1, .about-mini-consulting-form h1{
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 20px;
}

.about-mini-consulting-form h1{margin-bottom:0px;}

.faq-collection{
    background-color: #f8f8f8;
    border: 1px solid #D9D9D9;
    border-radius: 15px;
    padding: 15px 30px;
    margin-bottom: 20px;
}

.faq-collection:last-child{ margin-bottom: 0px;}

.faq-collection h2{
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 5px;
}

.faq-collection h3{
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
}

.about-mini-consulting-form{
    margin: 50px auto 95px;
    background-color: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 15px;
    width: 747px;
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center;
    padding: 15px 105px;
}

.about-mini-consulting-form .container{ text-align: center;}
.about-mini-consulting-form h1{letter-spacing: 0.5px;}
.about-mini-consulting-form h2{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.36px;
    margin: 10px 0 30px;
}

.about-mini-consulting-form a{
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    line-height: normal;
    letter-spacing: 0.36px;
    color: #EEEEEE;
    background-color: #86C232;
    border-radius: 8px;
    padding: 8px 20px;
}

.about-mini-consulting-form a:hover{
    background-color: #daf3de;
    color: #065911;
}

/* services */
.services-higher, .services-higher-education-block, 
.services-extras-block, .services-why-we-list, 
.services-consulting-form-block{
    background-color: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 15px;
}

.services-higher-education-block{padding: 20px 16px 24px;}
.services-extras-block{padding: 20px 17px;}
#services-extras-block-1 .services-price-btn{margin-top: 64px;}
.services-higher{   padding: 30px 42px;    margin-bottom: 60px;}
.services-extras{   margin: 60px 0}
.services-higher-education-block,.services-extras-block{width: 322px;}
.services-higher h1, .services-extras h1{
    font-size: 25px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 20px;
}

.services-higher-education-block h2, .services-extras-block h2{
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.32px;
}

.services-higher-education-block h3, .services-extras-block h3{
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    margin: 15px 0 18px;
}

#services-price-btn-variant{    margin-top: 80px;}

.services-price-btn{
    width: 167px;
    margin: 0 auto;
    text-align: center;
}

.services-price-btn h4, .services-secondary-btn h4{ 
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
}
.services-price-btn a, .services-secondary-btn a{display: block;}

.services-price-btn a, .services-secondary-btn a,
.services-edit-documents-btn a{
    color: #4A5459;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.28px;
}

.services-edit-documents-btn .more-info-about-service{margin-left: 50px;}

.services-price-btn a:hover,.services-edit-documents-btn a:hover,
.services-secondary-btn a:hover{   color: #6b7aff;}

#to-consylt-form{
    font-weight: 700;
    font-size: 14px;
    color: #EEEEEE;
    background-color: #86C232;
    border-radius: 8px;
    padding: 8px 20px;
    margin: 6px 0;
}

#to-consylt-form:hover{
    border:0px solid #86C232;
    background-color: #daf3de;
    color: #065911;
}

.services-higher-education-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 25px;
} 

.services-extras h1{text-align: center;}

.services-payment-instruction-block {
  display: flex;
  margin-bottom: 60px;
}

.services-payment-instruction-block h1{ 
    font-size: 25px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.5px;
    margin-right: 70px;
}

.services-payment-instruction-block h2{ 
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    width: 715px;
}

.services-why-we-list{
    width: 330px;
    text-align: center;
    padding: 20px 17px;
}

.services-why-we-list h1{    
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    margin: 24px 0 18px;
}

.services-why-we-list h2{     
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.28px;
    margin-bottom: 33px;
}

.services-why-we-list a,
.services-consulting-form-block-text a{
    color: #EEEEEE;
    background-color: #86C232;
    border-radius: 8px;
    padding: 8px 20px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.28px;
}

.services-why-we-list a:hover,
.services-consulting-form-block-text a:hover{
    border:1px solid #86C232;
    background-color: #ffffff;
    color: #065911;
}

.services-why-we-block, .services-extras-list{
    display: flex;
    justify-content: space-between;
}

.services-consulting-form{margin: 60px auto 130px;}

.services-consulting-form-block{
    display: flex;
    padding: 22px 104px;
}

.services-consulting-form-block-text{margin-left: 105px;}

.services-consulting-form-block-text h1{
    font-size: 25px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.5px;
}

.services-consulting-form-block-text h2{
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.36px;
    margin: 33px auto 57px;
}

.services-prep-to-exam .container{  display: flex;}

.services-prep-to-exam-left{    
    background-color: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 15px;
    padding: 20px 20px;
    margin-right: 60px;
    width: 460px;
}

.services-prep-to-exam-left h1{ 
    font-size: 25px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.5px;
}

.services-prep-to-exam-left h2{
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0px;
}

.services-secondary-education,.services-edit-documents{margin-bottom: 60px;}
.services-secondary-education .container{
    display: flex;
    padding: 21px 45px;
}
.services-secondary-education .container,
.services-secondary-right,.services-edit-documents .container,
.edit-recomend-letter{
    background-color: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 15px;
}
.services-secondary-right{padding: 21px 45px;}

.services-secondary-left{
    font-size: 25px;
    font-weight: 600;
    line-height: normal;
}

.services-secondary-right h2{
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.32px;
}

.services-secondary-right h3{
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.28px;
    margin: 15px auto 18px;
}

.services-secondary-btn{
    display: flex; 
    align-items: center;
}

#secondary-to-consylt-form{margin: 0 310px 0 50px;}
.services-edit-documents .container,
.services-edit-documents-right{display: flex;}

.services-edit-documents-left{
    width: 303px;
    margin: 128px 48px 100px 0px;
}

.services-edit-documents-left h1{
    font-size: 25px;
    font-weight: 600;
    line-height: normal;
}

.services-edit-documents-left h2{
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.28px;
    margin: 3px auto 18px;
}

.edit-recomend-letter{
    padding: 32px 16px 24px;
    margin-right: 25px;
}

.edit-recomend-letter:last-child{margin-right: 0px;}

.edit-recomend-letter h1{
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.32px;
    margin-bottom: 15px;
}

.edit-recomend-letter-info{
    background-color: #EEEEEE;
    border: 1px solid #D9D9D9;
    border-radius: 15px;
    padding: 16px 20px;
    margin-bottom: 10px;
}

.edit-recomend-letter-info:last-child{margin-bottom: 0px;}
.services-edit-documents .container{padding: 21px 40px}

.edit-letter-price{
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.36px;
    text-align: right;
    margin-top: 3px;
}

/* list of mentors */
.mini-header-for-mentor{background-color: #4A5459;}
.mini-header-for-mentor h3{
    padding: 33px 20px;
    margin-bottom: 30px;
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    line-height: normal;
}

.filter-group-new h2{margin-bottom: 15px;}

.rating-choose a{
    color: #939191;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    padding: 5px 10px;
    border: 1px solid #D3D3D3;
    border-radius: 9px;
    background-color: #F4F4F4;
}

.filter-group-sorting{  margin-top: 35px;}

.list-of-teachers{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Ровно 3 колонки в ряду */
    gap: 20px;
    margin-bottom: 30px;
}

.teacher-card{
    border: 1px solid #CACACA;
    border-radius: 15px;
    background-color: #FAFAFA;
    padding: 16px;
}
.teacher-card:last-child{margin-right: 0px;}

.teacher-card h1{
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    margin-top: 6px;
}

.rating-of-teacher{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 11px 0 23px;
}

.rating-of-teacher i{
    margin-left: 5px;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
}

.rating-of-teacher b{
    color: #777;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
}

.teacher-card a{
    color: #FAFAFA;
    background-color: #86C232;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    padding: 8px 68px;
    border-radius: 8px;
}

.teacher-card a:hover{
    color:#86C232;
    background-color: #D9D9D9;
}

/* login register form*/
.register-page .container, .login-page .container,
.forget-password-page .container {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: #336133;
    background-image: url(/images/log-in-bg.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.login-page .container, .forget-password-page .container{height: 877px;}

.container-for-register,.container-for-login,
.container-for-forget-password{
    border-radius: 76px 0px 0px 76px;
    background: #EEE;
    padding: 142px 100px 112px;
}

.container-for-register h1,.container-for-login h1,
.container-for-forget-password h1{
    font-size: 36px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 41px;
}

.register-btn, .login-btn, .forget-password-btn{
    border-radius: 8px;
    border: 0px;
    background: #86C232;
    color: #EEE;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.32px;
    padding: 11px 25px;
    margin: 30px auto;
}

.container-for-register b, .container-for-login b, 
.container-for-forget-password b{
    color: #A1A1A1;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.register-social{    margin: 32px auto;}

.container form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.register-input, .container-for-login input,
.container-for-forget-password input{
    background-color: #EEEEEE;
    border-radius: 10px;
    border: 1px solid #A1A1A1;
    width: 490px;
    outline: none;
    margin: 13px 0;
    padding: 10px 15px; 
    color: #A1A1A1;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.register-checkbox{  display: flex;}
.register-checkbox div{  margin-right: 136px;}

.register-checkbox div a{
    color: #353535;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
}

.toggel-panel-left img{ margin: 36px auto auto 60px;}

.toggel-panel-left h1{
    color: #EEE;
    font-family: 'Book Antiqua', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
    width: 414px;
    margin: 187px 62px auto 60px;
}

.toggel-panel-left h1::before,
.toggel-panel-left h1::after {
    content: "";
    display: block;
    width: 430px; /* Ширина линий по вашему выбору */
    height: 3px; /* Высота линий по вашему выбору */
    background-color: #EEEEEE; /* Цвет линий по вашему выбору */
    margin: 20px 0;
}

/* university-card */
.university-card{
    display: flex;
    padding: 51px 176px 34px;
    background-color: #dfdfdf;
    margin-bottom: 58px;
}

.university-card img{ margin-right: 37px;}

.university-card h1{
    font-size: 25px;
    font-weight: 600;
    line-height: normal;
}

.university-card h2{
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.university-card h3{
    font-size: 15px;
    font-weight: 400;
    line-height: normal;
}

.university-card-filter-part h1{
    margin-bottom: 16px;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
}

.university-card-main-info-right .container{    display: flex;}
#univ-history, #univ-rating, #univ-cost,#univ-proggram,#univ-admission,
#univ-educat,#univ-grants{margin-bottom: 31px;}

#univ-history h1,#univ-history h1, #univ-rating h1, #univ-cost h1,
#univ-proggram h1,#univ-admission h1,#univ-educat h1,#univ-grants h1{
    font-size: 25px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 12px;
}

#univ-history h2{
    color: #000;
    font-size: 14px;
    line-height: normal;
    margin-bottom:20px;
}

.univ-history-grid,.univ-rating-grid {
    display: grid;
    grid-template-columns: repeat(3, 268px);
    gap: 10px;
}

.univ-history-grid article, .univ-rating-grid article{
    display: flex;
    border-radius: 15px;
    border: 1px solid #D9D9D9;
    background: rgba(238, 238, 238, 0.93);
    padding: 12px 35px 12px 23px;
}

.univ-history-grid article img{margin-right: 25px;}

.univ-history-grid b, .univ-rating-grid b{
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
}

.univ-history-grid p, .univ-rating-grid p{
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
}

.univ-rating-grid h2{
    font-size: 25px;
    font-weight: 600;
    line-height: normal;
    margin-right: 13px;
}

#univ-admission h2, #univ-admission ol li, #univ-educat h2,
#univ-educat ul li{
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    width: 758px;
}
#univ-educat ul li{list-style: inside;}

#univ-cost table, #univ-grants table{
    width: 100%;
    border: 1px solid #D9D9D9;
    border-radius: 15px;
}
#univ-cost td, #univ-cost th, #univ-grants td, #univ-grants th{
    text-align: center;
    padding: 11px;
}
#univ-cost th, #univ-grants th{
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    background: linear-gradient(0deg, rgba(134, 194, 50, 0.80) 0%, rgba(134, 194, 50, 0.80) 100%), #D9D9D9;
}
#univ-cost td, #univ-grants td{
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
}

.table-diff-style{background-color: #e8e8e8;}

.univ-proggram-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#univ-proggram .univ-proggram-list-bacah h1,#univ-proggram .univ-proggram-list-magistur h1{
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    margin-bottom: 15px;
    padding-bottom: 24px;
    border-bottom: 1px solid #0A0A0A;
    width: 340px;
}

#univ-proggram .univ-proggram-list-bacah ul li,
#univ-proggram .univ-proggram-list-magistur ul li{
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 19px;
    padding-bottom: 16px;
    border-bottom: 1px solid #0A0A0A;
    width: 340px;
}

#univ-proggram a{
    border-radius: 15px;
    background: #86C232;
    color: #EEEEEE;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.28px;
    padding: 10px 48px;
    margin-left: 303px;
}

/* calendar-page */
.calendar-page .container, .calendar-page-by-country .container,
.choose-calendar-month-year,.calendar-page-by-univ .container,
.calendar-filtration .container{    display: flex;}

.calendar-page .container, .calendar-page-by-country .container,
.calendar-page-by-univ .container{
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
    margin-top: 15px;
}

.type-of-calendar{
    border: 1px solid #8D8D8D;
    border-radius: 10px;
    padding: 13px 12px;
}

.type-of-calendar a{
    color: #b5b5b5;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    border: 1px solid #111111;
    border-radius: 6px;
    background-color: #E7E7E7;
    padding: 6px 20px;
    margin-right: 20px;
}

.type-of-calendar a:last-child{margin-right: 0;}

.type-of-calendar a:hover,
.calendar-page #calendar-month:visited,
.calendar-page-by-country #calendar-country,
.calendar-page-by-univ #calendar-university{
    color: #EBEBEB;
    background: #86C232;
    border: 1px solid #86C232;
}

.calendar-filtration .container{    justify-content: space-between;}
.calendar-filter-group{margin-top: 15px;}
.calendar-filter-group h2{margin-bottom: 8px;}
.calendar-filtration{margin-bottom: 100px;}

/* mentor-card */
.mentor-box-main-info .container{
    border: 1px solid #CACACA;
    border-radius: 15px;
    background-color: #FAFAFA;
    padding: 20px;
    margin-top: 25px;
    display: flex;
    align-items: center;
}

#btn-for-back a{
    color: #486d13;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 2px solid #486d13;
}

.mentor-information-right{  margin-left: 20px;}

.mentor-information-right h1{
    font-size: 25px;
    font-weight: 700;
    line-height: normal;
}

.mentor-information-right h3{
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
}

.mentor-information-right p{
    font-size: 20px;
    font-weight: 400;
    line-height: 149.5%; 
    letter-spacing: 0.4px;
}

.mentor-information-box{
    margin-top: 10px;
    border: 1px solid #CACACA;
    border-radius: 15px;
    background-color: #FAFAFA;
    padding: 8px 520px 8px 10px;
}

.mentor-bottom-part-info h2, .mentor-bottom-part-info h3{
    font-size: 25px;
    font-weight: 700;
    line-height: normal;
}

.mentor-bottom-part-info h3{
    font-size: 20px;
    margin-top: 20px;
}

.mentor-bottom-part-info ul li{
    list-style-type: disc;
    margin-top: 5px;
    list-style-position: inside;
}

/* more info aboout service */
.mini-header-for-info-services{
    background-color: #4A5459;
    color: #f8f8f8;
    padding: 25px;
}

.mini-header-for-info-services{
    margin-bottom: 70px;
}

.mini-header-for-info-services .container h2{
    font-size: 22px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 5px;
}

.mini-header-for-info-services .container h3{
    font-size: 16px;
    text-align: center;
    line-height: normal;
}

.work-process .container{margin-bottom: 100px;}
.work-process .container h2{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: 600;
    line-height: normal;
}

.steps-of-work{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.steps-of-work-info{
    margin-left: 15px;
    border: 1px solid #D9D9D9;
    border-radius: 15px;
    padding: 20px;
    width: 100%;
}

.steps-of-work-info h3{
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 5px;
}

.steps-of-work-info ul{
    list-style: inside;
    font-size: 14px;
    line-height: normal;
}

/*  */

.about-cost-blocks{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.about-cost-blocks-2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 25px;
}

.cost-blocks-main h2{
    font-size: 25px;
    font-weight: 600;
}

.cost-blocks{
    border-radius: 15px;
    border: 1px solid #D9D9D9;
    background: rgba(238, 238, 238, 0.93);
    padding: 15px 24px;
}

.cost-blocks h3{    
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
}

.cost-blocks.serivces-1 h3{font-weight: 400;}
.serivces-1-subt-1{margin-bottom: 31px;}
.serivces-1-subt-2{margin-bottom: 10px;}

.cost-blocks .cost-blocks-pack-1,.cost-blocks .cost-blocks-pack-2,
.cost-blocks .cost-blocks-pack-3{
    font-size: 14px;
    line-height: normal;
    margin: 6px 0 20px;
}

.cost-blocks .cost-blocks-pack-2{margin-bottom: 83px;}
.cost-blocks .cost-blocks-pack-1{margin-bottom: 124px;}

.cost-blocks h4{
    font-size: 20px;
    font-weight: 600;
}